<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PYDJAY</title>
    </head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="static/js/highcharts.js"></script>
    <script src="static/js/semantic.min.js"></script>
    <script src="static/js/train_update.js"></script>
    <script src="static/js/training_graphs.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/semantic.min.css">
    <link rel="stylesheet" href="static/css/icon.min.css">
    <link rel="stylesheet" href="static/css/rating.min.css">
    <link rel="stylesheet" href="static/css/highcharts.css">
    <link rel="stylesheet" href="static/css/style.css">





<body>
    <table style="width:100%; height:100%; border:3px solid black">
        <tr style="width:100%; height:100px; border:3px solid black">
            <td style="width:100%; border:3px solid black">foo</td>
        </tr>
        <tr style="width:100%; height:100%; border:3px solid black">
            <td>
                <table style="width:100%; height:100%; border:3px solid black">
                    <tr style="width:100%; height:100%; border:3px solid black">
                        <td style="height:100%; width:65%; border:3px solid black">
                            <!-- <tr>
                                <td> -->
                            <div class="ui clearing segment attached" style="height:5%;">
                              <h3 class="ui left floated header">
                                Go Forward
                              </h3>
                              <h3 class="ui right floated header">
                                  <div class="ui search">
                                      <div class="ui icon input">
                                          <input class="prompt" type="text" placeholder="Filter list..." style="height:30px;">
                                          <i class="search icon"></i>
                                      </div>
                                    <div class="results"></div>
                                  </div>
                              </h3>
                            </div>
                        <!--        </td>
                        </tr> -->

                            <div class="" style="height:95%; overflow:scroll">
                                <table  class="ui single line striped table" style="height:100%;">
                                    {% for track in track_list.get_tracks() %}
                                        <tr>
                                            <td style='width:40px'>
                                                {% if track.metadata.loved %}
                                                    <i class="heart icon"></i>
                                                {% else %}
                                                    <i class="empty heart icon"></i>
                                                {% endif %}
                                                </td>
                                            <td>{{ track.metadata.title }}</td>
                                            <td>{{ track.metadata.artist }}</td>
                                            <td style='width:100px;'>{{ track.metadata.genre }}</td>
                                            <td style='width:100px;'>{{ track.metadata.style }}</td>
                                            <td style='width:100px; text-align:right'>
                                                {% for i in range(5)%}
                                                    {% if i < track.metadata.rating %}
                                                        <i class="icon star" style="margin:0px"></i>
                                                    {% else %}
                                                        <i class="icon empty star" style="margin:0px"></i>
                                                    {% endif %}
                                                {% endfor %}
                                                </td>
                                            <td style='width:50px; text-align:right'>{{ track.metadata.bpm }}</td>
                                            <td style='width:50px; text-align:right'>{{ track.info.length }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>

                            </div>
                        </td>
                        <td style="width:35%; border:3px solid black">foo</td>
                    </tr>
                </table>

            </td>

        </tr>

    </table>
</body>
<script type="text/javascript">
$('.ui.rating')
.rating()
;
</script>
</html>
