/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0F0F0F;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 2px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6F6F6F;
    border-radius: 2px;
}


body {
    font-family: Helvetica, sans-serif;
    font-size:   10pt;
    font-weight: 200;
    color:     rgb(200, 200, 200);
    user-select: none;
}

button {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 10pt;
    color:   rgb(200, 200, 200);
}

/* table {
    border-collapse:collapse
} */

.header {
    margin:            0px;
    padding:           0px;
    width:             100%;
    height:            30px;
    /* background-color:red;  */
    background-color:rgb(24, 24, 24);
    /* position:          fixed;  */
    display:           block
}

.header .settings-button {
    /* display:           inline-block; */
    background-color:#000000;
    border:            none;
    color:           white;
    height:            100%;
    width:             50px;
    text-align:        center;
    text-decoration:   none;
    font-size:         15pt;
    float:              left;
}

.header .content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: calc(100% - 65px);
    height:100%;
    padding-left: 10px;
    padding-right: 5px;
}

.header .content .item {
    height:100%;
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
    margin-top:4px;
    margin-bottom:auto;
}

.header .item {
    height:100%;
    float:left;
}

.main_player {
    margin: 0px;
    padding:0px;
    width:100%;
    height:150px;
    position:fixed;
    top:30px;
    background-color:blue;
    background-image: linear-gradient(to top, #1E1E1E, #3C3C3C)

}

.main_player .cover {
    padding:0px;
    float:left;
}

.main_space {
    margin: 0px;
    padding:0px;
    width:100%;
    height:calc(100% - 210px);
    background-color:grey;
    position:fixed;
    top:180px
}

.side_bar {
    margin: 0px;
    padding: 0px;
    width:350px;
    height:100%;
    background-color:rgb(40,40,40);
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    float:left
}

.main_list {
    margin: 0px;
    padding:0px;
    width:calc(100% - 852px);
    height:100%;
    background-color:rgb(40,40,40);
    /* border-right: 1px solid grey; */
    border-top: 1px solid grey;
    float:left
}


.main_list .color-chooser {
    cursor: pointer;
    width:12px;
    height:12px;
    border:none;
    border-radius:6px;
    outline:none;
    /* border: 1px solid rgb(200,200,200); */
    /* border-color:rgb(155,155,155); */
    /* background-color:rgb(116, 116, 240); */
}


.queue_list {
    margin: 0px;
    padding:0px;
    width:500px;
    height:100%;
    background-color:rgb(14, 168, 173);
    background-color:rgb(40,40,40);
    border-top: 1px solid grey;
    float:right
}

.footer {
    margin: 0px;
    padding:0px;
    width:100%;
    height:30px;
    background-color:rgb(79, 9, 172);
    border-top: 1px solid grey;
    position:fixed;
    bottom:0px
}

.main_player .title {
    text-align:left;
    text-transform:uppercase;
    font-weight:bold;
    font-size:16pt;
    padding-left:15px;
    height:15px;
}

.main_player .artist {
    text-align:left;
    text-transform:uppercase;
    font-weight:normal;
    font-size:11pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:calc(100% - 150px);
    height:15px;
    padding-left:15px;
}

.main_player .time_remaining {
    text-align:left;
    text-transform:uppercase;
    font-weight:bold;
    font-size:25pt;
    padding:0px;
    margin:15px;
}

.main-player .track-info {
    padding-left:5px;
    float:left;
    width:100%;
    display:block;
    height:40px
}

.main_player .info {
    /* display: inline-block; */
    float:left;
    height:100%;
    margin:5px !important;
    padding:0px !important;
    width:125px !important;;

}

.main_player .waveform {
    display:inline-block;
    text-align: center;
    width:100%;
    height:40px;
    background-color:rgb(27, 27, 27)
}

.main_player .info .title {
    text-align:center;
    text-transform:uppercase;
    font-weight:normal;
    color:rgb(120,120,120);
    font-size:8pt;
    margin:0px;
    padding:0px;
    height:13px;
}

.main_player .info .value{
    text-align:center;
    text-transform:uppercase;
    font-weight:medium;
    font-size:10pt;
    margin:0px !important;
    padding:0px !important ;
    /* display:inline-block;
    width:200px; */
}

.main_player .rating {
    display: inline-block;
    /* float:left; */
    /* height:100%; */
    margin:10px !important;
    padding:0px !important;
    width:125px !important;
}

.main_player .rating .value{
    text-align:center;
    text-transform:uppercase;
    font-size:10pt;
}


.accordion {
    background-color: rgb(30, 30, 30);
    color: rgb(182, 182, 182) !important;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    height:30px;
    line-height:30px;
    font-weight:bold;
    text-transform:uppercase;
    font-size:8pt;
}

.active, .accordion:hover {
    background-color:  rgb(60, 60, 60);
}

.panel {
    padding: 0px 0px;
    background-color: rgb(26, 26, 26);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.1s ease-out;
}

.panel .choice {
    cursor: pointer;
}

.panel .choice:hover {
    background-color: rgb(36, 36, 36);
}


.accordion:before {
    content: '\2795';
    font-size: 10pt;
    color: rgb(182, 182, 182) !important;
    float: left;
    margin-right: 5px;
}

.active:before {
    content: "\2796";
    font-size: 10pt;
}

.main-list-header {
    height:50px;
    width:100%;
    background-color:#3c3c3c
}

.main-list-header .title {
    margin-left:10px;
    margin-top:10px;
    width:50%;
    float:left;
}

.main-list-header .title .name {
    text-align:left;
    text-transform:uppercase;
    font-weight:bold;
    font-size:10pt;
    margin:0px;
    padding:0px;
    height:15px;
}

.main-list-header  .title .count {
    text-align:left;
    text-transform:uppercase;
    font-weight:normal;
    font-size:9pt;
    margin:0px;
    padding:0px;
    height:15px;
}

.search-container {
    float: right;
    margin-right: 16px;
    cursor: pointer;
    height:100%;
    width:40%;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    /* margin-right: 16px; */
    background: rgb(30, 30, 30);
    font-size: 10pt;
    border: none;
    cursor: pointer;
    height:32px;
    outline:none !important;
  }

.search-container button:hover {
    background: #ccc;
    background: rgb(80, 80, 80);
}

input.main-track-search[type=text] {

    /* padding: 6px; */
    /* margin-top: 8px; */
    background: rgb(46, 45, 45);
    margin-top: 8px;
    padding-left:15px;
    color: rgb(200,200,200);
    font-size: 10pt;
    border: none;
    float:right;
    height:30px;
    width:calc(100% - 55px)
}

input.new-playlist[type=text] {
    margin:0;
    padding:0;
    /* padding: 6px; */
    /* margin-top: 8px; */
    background: rgb(46, 45, 45);
    /* margin-top: 8px; */
    /* padding-left:15px; */
    color: rgb(200,200,200);
    font-size: 9pt;
    border: none;
    float:right;
    height:20px;
    width:calc(100% - 0px)
}

.footer .content {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: calc(100% - 65px);
    height:100%;
    padding-left: 10px;
    padding-right: 5px;
}

.footer .content .item {
    height:100%;
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    margin-top:4px;
    margin-bottom:auto;
}

.queue-list {
    overflow-y: auto;
    position:relative;
    height:calc(100% - 50px);
}

/* .queue-list .scroll-area {

} */

/* .queue_list .main-list-header  */
.queue-management-button {
    height:75px;
    width:250px;
    /* float:right; */
    border: 2px solid grey;
    border-radius: 25px;
    background-color: rgb(87, 13, 129);
    outline:none !important;
    font-size:20pt;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)

}

.queue-management-button:hover {
    /* height:75px;  */
    /* width:250px;  */
    /* float:right; */
    /* border: 2px solid grey; */
    /* border-radius: 25px; */
    background-color: rgb(37, 93, 29);
}


.queue_list .main-list-header .title {
    height:50px;
    width:calc(100% - 110px);
    margin:0px;
}

.queue_list .main-list-header .title .name {
    margin-top:10px;
    margin-left:15px;
}

.queue_list .main-list-header .title .count {
    margin-left:15px;
}

.queue_list .main-list-header .queue-management-button:hover {
    height:50px;
    width:50px;
    float:right;
    border: 0px solid grey;
    cursor: pointer;
    background-color: rgb(100,25,25);
}

.queue-list .element{
    width:calc(100% - 15px);
    height:50px;
    border: 1px solid grey;
    background-color: rgb(30,30,30);
    border-radius:6px;
    margin-top:2px;
    margin-bottom:2px;
    margin-left:3px;
}

.queue-list .element:hover{
    /* width:calc(100% - 15px);
    height:50px;
    border: 1px solid grey; */
    background-color: rgb(45,45,45);
    /* border-radius:6px;
    margin-top:2px;
    margin-bottom:2px;
    margin-left:3px; */
}


.queue-list .element .cover-image {
    float:left;
    padding-right:7px;
    padding-left:-3px;
    border-radius: 6px 0px 0px 6px
}


.queue_element_title {
    margin-top:7px;
    padding:0px;
    line-height:20px;
    font-size:10pt;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translateY(-10%);
}

.queue_element_artist {
    margin:0px;
    padding:0px;
    line-height:20px;
    font-size:10pt;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translateY(-20%);
}

.queue_element_bpm {
    margin:0px;
    padding:0px;
    width:85px;
    float:left;
    text-align:right;
    font-size:13px;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

.queue_element_duration {
    float:right;
    margin-right:5px;
    position:relative;
    text-align:right;
    font-size:13px;
    top:50%;
    transform: translateY(-50%);
}


.preview-player {
    /* max-height:300px; */
    width:calc(100% - 20px);
    padding:10px
}

.preview-player .color-chooser {
    float:right;
    cursor: pointer;
    width:20px;
    height:20px;
    border:none;
    border-radius:2px;
    background-color:rgb(116, 116, 240);
}

.color-picker {
    width:300px;
    height:100px;
    background:rbg(100,100,100);
    z-index:10000;
    position: absolute;
}

.huebee__cursor {
    width: 20px;
    height: 20px;
}


  .huebee__container {
    position: absolute;
    background: #777;
    border: 2px solid #aaa;
    border-radius: 5px;
    z-index:10000;
    width:300px;
    height:200px;
  }

/* .huebee__close-button {
    background: red;
} */

.huebee__close-button__x {
    stroke-width: 2;
}

.preview-player .cover {
    padding:0px;
    float:left;
}

.preview-player .title {
    position:relative;
    text-align:left;
    text-transform:uppercase;
    float:left;
    font-size:9pt;
    height:20px;
    transform:translateY(-25%)
}

.preview-player .artist {
    position:absolute;
    text-align:left;
    /* text-transform:uppercase; */
    padding:0;
    margin:0;
    font-weight:normal;
    font-size:9pt;
    float:left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height:12px
}

.sidebar-library-item {
    height:20px;
    line-height:20px;
    margin-left:10px;
    margin-top:3px;
    padding:0px 5px;
    cursor: pointer;
}

.sidebar-library-item:hover {
    background-color:  rgb(60, 60, 60);
}


.sidebar-library-item .list-icon {
    /* height:25px; */
    /* margin-left:10px; */
    float:left;
    margin-right:15px;
    font-size:12pt;
}

.sidebar-library-item .arrow-icon {
    float:right;
    margin-right:10px;
    font-size:12pt
}

.sidebar-library {
    list-style:none;
    padding-left:10px;
}

.accordion .action-button-group .action-icon {
    /* float:right; */
    margin:7px 5px;
    font-size:8pt;
    /* display:inline-block; */
}

.accordion .action-button-group .action-icon:hover {
    color:rgb(116, 116, 240);
}


.accordion .action-button-group {
    float:right;
    /* margin:7px 5px; */
    /* font-size:10pt; */
    /* display:inline-block; */
}

.preview-player .metadata {
    height: 15px;
    font-size:9pt;
    width:350px
}

.preview-player .metadata .tag-name{
    width:75px !important;
    white-space: nowrap;
}

.preview-player .metadata .tag-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:200px;

}

.main-track-list-area {
    overflow-y:auto;
    height: calc(100% - 50px);
    padding-right:10px;
    margin:0;
    padding:0;
    border: 0px solid transparent;
}

.main-track-list-area .main-track-list-table {
    width:100%;
    /* height:100%; */
    overflow-y:auto;
    margin:0;
    padding:0;
    -webkit-border-vertical-spacing:0;
    border: 0px solid transparent;
}

.main-track-list-area .main-track-list-table .header-row{
    width:100%;
    /* height:100%; */
    margin:0;
    padding:0;
    height:25px;
    text-transform:uppercase;
    background-color: rgb(143, 142, 142);
    border: 0px solid transparent;

}

.main-track-list-area .main-track-list-table .row {
    width:100%;
    height:20px;
    /* text-transform:uppercase; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-track-list-area .main-track-list-table .row:hover {
    background-color: rgb(40, 40, 40);
}

.main-track-list-area .main-track-list-table tr:nth-child(even) {
    background: rgb(30,30,30)
}

.main-track-list-area .main-track-list-table tr:nth-child(odd) {
    background: rgb(35, 35, 35)
}

.selected {
    background-color: rgb(76, 35, 122) !important;
}

.unavailable {
    /* background-color: rgb(135, 2, 7) !important; */
    opacity: 0.15
}


.main-track-list-area .main-track-list-table .header-row .sticky-header {
    position: sticky;
    top:     0;
    z-index: 10;
    margin:  0;
    padding: 0;
    border:  0px solid transparent;
    background-color: rgb(50,50,50);
}


.filtered {
   display: none;
}


.focus {
    /* background-color:rgb(70,70,70); */
    outline: 1px solid white
}


.ghost {
    opacity: 0.2;
}

  .drop-here {
      background-color: rgb(177, 36, 170);
      cursor:copy;
  }

.precue-management-button:hover {
    height:30px;
    width:30px;
    border: 0px solid grey;
    cursor: pointer;
    background-color: rgb(100,25,25);
}

.precue-management-button {
    height:30px;
    width:30px;
    border: 0px solid grey;
    cursor: pointer;
    background-color: rgb(55,55,55);
    outline:none !important;
}

.precue-player-progress {
    /* //background-color: #f3f3f3; */
    /* color: #030303; */
    border: 0;
    height: 30px;
    width:calc(100% - 60px);
    border-radius: 9px;
    position:relative;
    -webkit-appearance: none;
	border: none;
}

.precue-player-progress::-webkit-progress-bar {
    /* style rules */
    background-color: #444444;
    /* color: #030303; */

}

.precue-player-progress::-webkit-progress-value {
    /* style rules */
    background-color: #807f7f;
    /* color: #030303; */
}

.overlay {
    /* display:none; */
    position:absolute;
    background-color:  #000000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin:0;
    opacity:.95;
    transition: opacity .5s;
    z-index:  10;
}




/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
    margin:0;
    padding:0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top:30;
    right:0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
