.webix_template {
    margin: 0px;
    padding: 0px;
    background-color:'#3c3c3c';
    /* border: '0px solid #3c3c3c';
    height:100%; */
}

/* .webix_layout_line {
    height:100% !important;
} */

.unavailable_track {
    color: #555555 !important;
}
.webix_img_btn {
    color: #cccccc;
}

.webix_el_button {
    color: #cccccc;
}

.webix_icon_btn, .webix_el_button .webix_img_btn  {
    color: #cccccc;
}

.webix_column>div.webix_row_select {
    background-color:#0056AC;
}

.webix_list_item.webix_selected {
    background-color:#0056AC;
}

.focus_header {
    background-color: #7c7c7c !important;
}

.webix_info div{
  background-color:#caffe0;
  border: 1px solid #676d71;
  width: 400px;
  color: #484444;
}

.webix_info {
  background-color:#caffe0;
  border: 1px solid #676d71;
  width: 400px;
  color: #484444;
  transform: translateX(-40%);
}

.queue_element_title {
    margin:0px;
    padding:0px;
    height:20px;
    font-size:13px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translateY(-10%);
}

.queue_element_artist {
    margin:0px;
    padding:0px;
    height:20px;
    font-size:13px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform: translateY(-20%);
}

.queue_element_bpm {
    margin:0px;
    padding:0px;
    width:85px;
    float:left;
    text-align:right;
    font-size:13px;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

.queue_element_duration {
    float:right;
    position:relative;
    text-align:right;
    font-size:13px;
    top:50%;
    transform: translateY(-50%);
}


.genre_element_name {
    float:left;
    margin:0px;
    padding:0px 10px;
    height:22px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:70%
}

.genre_element_count {
    height:22px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:20%;
    text-align:right
}

.session_element_name {
    float:left;
    margin:0px;
    padding:0px 0px;
    height:22px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:13px;
    width:45%;
}

.session_element_date {
    float:left;
    margin:0px;
    padding:0px;
    height:22px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:32%;
    font-size:13px;
    text-align:right;
}

.session_element_count {
    margin:0px;
    padding:0px;
    height:22px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:15%;
    font-size:13px;
    text-align:right;
}


.tag_element_name {
    float:left;
    margin:0px;
    padding:0px;
    height:22px;
    font-size:13px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis; width:75%
}

.tag_element_count {
    margin:0px;
    padding:0px;
    height:22px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:15%;
    font-size:14px;
    text-align:right
}


.webix_accordionitem.vertical {
    background-image: none !important; 
    background-repeat: no-repeat !important; 
    /* height: 25px; */
    margin-top: 0px !important;
    font-size: 13px;
}


.webix_accordionitem.vertical>.webix_accordionitem_header .webix_accordionitem_button {
    background-image: none !important; 
    background-repeat: no-repeat !important; 
    height: 25px;
    margin-top: 0px !important;
    font-size: 13px;
}

.webix_accordionitem_header {
    border-bottom: 1px solid #818181;
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 15px;
    background: #191919 !important;
    line-height: 25px;
    cursor: pointer;
    overflow: hidden;
    text-transform:uppercase;
    height: 25px !important;
    margin-top: 0px !important;
}

.webix_accordionitem.collapsed .webix_accordionitem_header .webix_accordionitem_header.collapsed .webix_accordionitem.vertical.collapsed {
    background: #191919 !important;
    color: #fff;
    height: 25px !important;
    margin-top: 0px !important;
}
/* 
.webix_accordionitem.vertical.collapsed {
    background: #191919;
    color: #fff;
    height: 25px !important;
    margin-top: 0px !important;
/* } */

.webix_list_item {
    overflow: hidden !important;
    /*height:20px;*/
    padding: 0px 0px 0px 10px;
    margin: 0px;
    line-height: 25px;
}

.webix_list_item {
    overflow: hidden !important;
    /*height:20px;*/
    padding: 0px 0px 0px 10px !important;
    margin: 0px;
    line-height: 25px;
}

.webix_list_item.webix_selected {
    overflow: hidden !important;
    /*height:20px;*/
    padding: 0px 0px 0px 10px !important;
    margin: 0px;
    line-height: 25px;
}


.webix_full_screen {
    overflow: hidden !important;
    height:100% !important;
}